<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
		</layout>
	</appender>

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</appender>

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">

		<param name="File" value="C:/log/spring-hib.log" />
		<param name="MaxBackupIndex" value="100" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
		</layout>

	</appender>
<!-- 
	<logger name="org.springframework"> 
		<level value="all" /> 
	</logger> 
-->
<!--	
	<logger name="org.hibernate">
		<level value="all" />
	</logger>
-->
	<logger name="org.hibernate.SQL">
		<level value="debug" />
	</logger>
	<logger name="org.hibernate.type">
		<level value="trace" />
<!--		<appender-ref ref="FILE" />  -->
	</logger>

	<root>
		<priority value="info" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>